/*@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'HarryPotterFont';
    src: url('src/assets/fonts/HARRYP__.TTF') format('truetype');
  }
  
  .harry-potter-font {
    font-family: 'HarryPotterFont', sans-serif;
  } *