@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'harrypotter';
    src: url('@/assets/fonts/HARRYP__.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }